[submodule "eb"]
	path = eb
	url = https://github.com/FooSoft/eb.git
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/FooSoft/argparse
